# Creating a dummy dataset

As we wait for the _real_ data to be pulled we can create a dummy database or datasets off of what we know. 

In the data pull request we asked for 5 tables:
- clients
- organizations
- locations
- opportunities
- access_events

You can see the variables/columns we ask of each table in the google sheet `Data schema/UCB data pull` in our shared Google Drive.

We will be using a combination of pandas/numpy and Faker to create these.

In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import datetime as dt

fake = Faker()

## clients

* id (INT11)
* is_admin (TINYINT1)
* created_at (DATETIME)
* updated_at (DATETIME)
* last_login (DATETIME)

This means we have an 11-character long INT column, another 1-character long (1/0) that serves as a boolean column, and 3 datetimes. The most complicated part is the datetimes. `updated_at` has to come later or at the same time as `created_at` (cannot be earlier) and last login must also come **after** `created_at`.

In [2]:
client_id = np.random.randint(low = 10_000_000_000, high = 99_999_999_999, size = 50)
client_id

array([30648376744, 23720705319, 67804167288, 87903542324, 53057864141,
       89603334370, 79710529227, 54102167891, 60128279137, 80530745979,
       98373821376, 82896647800, 61419597207, 82433136836, 42259464196,
       82914817120, 20593475067, 75973655680, 37785041992, 11995183509,
       36201696938, 84487152451, 23798021090, 82764048381, 50213196692,
       38850141536, 93627826282, 16570200213, 83233527847, 26670179409,
       16621020235, 60967247827, 91640248212, 77324248884, 72593336357,
       78401862947, 94530221270, 52340538959, 51289842126, 34940379069,
       42323003991, 41959829043, 98878749821, 28333690459, 47091632388,
       49112927712, 23940761782, 19027248240, 72010322462, 24614124711])

In [3]:
client_is_admin = np.random.randint(low = 0, high = 2, size = 50)
client_is_admin

array([0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1])

In [4]:
client_created_at = []
for _ in range(50):
    client_created_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2019,1,1), datetime_end = dt.datetime(2021,3,1)))

In [5]:
# updated at must come after `created_at`
client_updated_at = []
for date_created in client_created_at:
    client_updated_at.append(fake.date_time_between_dates(datetime_start = date_created, datetime_end = dt.datetime(2021,3,1)))

In [6]:
# let's make all last logins *after* updated_at
client_last_login = []
for date_updated in client_updated_at:
    client_last_login.append(fake.date_time_between_dates(datetime_start = date_updated, datetime_end = dt.datetime(2021,3,1)))

In [7]:
clients_df = pd.DataFrame(data = {
    "id": client_id, 
    "is_admin": client_is_admin, 
    "created_at": client_created_at, 
    "updated_at": client_updated_at, 
    "last_login": client_last_login
})

clients_df.head()

,id,is_admin,created_at,updated_at,last_login
0,30648376744,0,2021-02-19 20:28:08,2021-02-27 18:16:34,2021-02-28 05:23:53
1,23720705319,1,2020-01-14 04:33:54,2020-08-17 15:27:38,2020-11-22 17:53:40
2,67804167288,0,2020-04-01 20:10:02,2020-09-04 00:20:02,2021-01-19 15:24:14
3,87903542324,1,2020-08-10 13:09:33,2020-10-04 17:14:40,2021-01-10 02:25:42
4,53057864141,1,2019-08-23 00:36:36,2019-11-05 01:43:17,2020-08-03 09:52:14

***
## organizations

* id INT(11)
* client_id INT(11)
* name VARCHAR(255)
* website VARCHAR(255)
* description MEDIUMTEXT
* created_at DATETIME
* updated_at DATETIME
* slug VARCHAR(255)
* searchable_by_organizations VARCHAR(255)
* is_searchable TINYINT(1)
* region VARCHAR(255)
* lat FLOAT
* lng FLOAT
* last_verified_at DATETIME
* marked_deleted TINYINT(1)
* deleter_id INT(11)
* is_closed TINYINT(1)

In [8]:
org_id = np.random.randint(low = 10_000_000_000, high = 99_999_999_999, size = 50)
org_id

array([53509366883, 87808048208, 20680379154, 27389435792, 80183172661,
       69864804603, 18681505743, 72141624766, 38774447289, 42429106867,
       32074788674, 66681444441, 17415343012, 92478148325, 65587123018,
       28761026139, 23055966702, 68653945696, 64169840712, 82319489741,
       37986418978, 37276873913, 30521389633, 37126626029, 78037666292,
       93004136572, 17766185466, 83666938310, 22009933639, 98081560032,
       38843753342, 85373199697, 66881488684, 94355578917, 14951630870,
       28531310906, 67973767388, 95005639326, 22355598616, 87682324858,
       38053220710, 67374276390, 40304570077, 88497336689, 21908034032,
       42437957716, 42959303247, 94355298688, 68761408637, 41340222428])

In [9]:
org_client_id = client_id

In [10]:
org_name = []
for _ in range(50):
    org_name.append(fake.company())

In [11]:
org_website = []
for _ in range(50):
    org_website.append(fake.domain_name())

In [12]:
org_description = []
for _ in range(50):
    org_description.append(fake.paragraph())

In [13]:
org_created_at = []
for _ in range(50):
    org_created_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2019,1,1), datetime_end = dt.datetime(2021,3,1)))

In [14]:
# updated at must come after `created_at`
org_updated_at = []
for date_created in client_created_at:
    org_updated_at.append(fake.date_time_between_dates(datetime_start = date_created, datetime_end = dt.datetime(2021,3,1)))

In [15]:
org_slug = [name.replace(" ", "_").replace(",", "").lower() for name in org_name]

In [16]:
org_searchable_by_organizations = []
for _ in range(50):
    org_searchable_by_organizations.append(fake.paragraph())

In [17]:
org_is_searchable = np.random.randint(low = 0, high = 2, size = 50)

In [18]:
org_region = ["Los Angeles"] * 50

In [19]:
org_lat = []
org_lng = []
for _ in range(50):
    org_lat.append(fake.latitude())
    org_lng.append(fake.longitude())

In [20]:
# last verified - in the past year
org_last_verified_at = []
for _ in range(50):
    org_last_verified_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2020,3,1), datetime_end = dt.datetime(2021,3,1)))

In [21]:
org_marked_deleted = np.random.randint(low = 0, high = 2, size = 50)

In [22]:
org_deleter_id = np.random.randint(low = 10_000_000_000, high = 99_999_999_999, size = 50)

In [23]:
org_is_closed = np.random.randint(low = 0, high = 2, size = 50)

In [24]:
organizations_df = pd.DataFrame(data = {
    "id": org_id,
    "client_id": org_client_id,
    "name": org_name,
    "website": org_website,
    "description": org_description,
    "created_at": org_created_at,
    "updated_at": org_updated_at,
    "slug": org_slug,
    "searchable_by_organizations": org_searchable_by_organizations,
    "is_searchable": org_is_searchable,
    "region": org_region,
    "lat": org_lat,
    "lng": org_lng,
    "last_verified_at": org_last_verified_at,
    "marked_deleted": org_marked_deleted,
    "deleter_id": org_deleter_id,
    "is_closed": org_is_closed,
})

organizations_df.head()

,id,client_id,name,website,description,created_at,updated_at,slug,searchable_by_organizations,is_searchable,region,lat,lng,last_verified_at,marked_deleted,deleter_id,is_closed
0,53509366883,30648376744,Williamson and Sons,holmes.com,Me economic away wait myself.,2019-03-30 12:21:05,2021-02-24 05:46:31,williamson_and_sons,Bit type which present network door. Say succe...,0,Los Angeles,-10.3264955,66.917992,2020-10-30 04:24:48,1,79324847681,0
1,87808048208,23720705319,"Kim, Payne and Perry",hart.info,Myself them small hour. Hear wonder half must....,2020-01-02 09:57:45,2020-01-19 07:48:21,kim_payne_and_perry,Begin none want ago country member I. Major so...,0,Los Angeles,-50.741535,-18.369712,2020-06-15 05:23:27,0,70980189389,0
2,20680379154,67804167288,Lopez-Rogers,acosta.com,Prove activity important. Teacher necessary I ...,2020-04-19 10:38:13,2020-06-02 21:43:55,lopez-rogers,Ability onto approach he source third page. By...,1,Los Angeles,-77.2669265,-129.696208,2020-06-29 12:51:07,0,49333060507,1
3,27389435792,87903542324,Thornton-Smith,gibbs-robbins.com,Tv school throughout size artist student fine ...,2020-07-25 08:43:23,2020-12-22 17:56:26,thornton-smith,Every project organization figure generation m...,0,Los Angeles,0.1359865,-18.289426,2020-12-05 12:06:12,0,95090447179,0
4,80183172661,53057864141,"Green, Atkinson and Nguyen",mata.com,Type teacher simply civil. Write add street li...,2020-05-14 13:27:36,2020-10-04 03:19:21,green_atkinson_and_nguyen,Positive president stand value movie forward. ...,1,Los Angeles,-19.8675125,-40.412112,2020-08-10 14:13:44,1,84233161192,0

***
## locations

* id INT(11)
* locatable_id INT(11)
* locatable_type VARCHAR(255)
* name VARCHAR(255)
* address VARCHAR(255)
* unit VARCHAR(255)
* city VARCHAR(255)
* state VARCHAR(255)
* zip_code VARCHAR(255)
* is_primary TINYINT(1)
* lat FLOAT
* long FLOAT
* created_at DATETIME
* updated_at DATETIME
* show_on_organization TINYINT(1)

In [25]:
locations_id = np.random.randint(low = 10_000_000_000, high = 99_999_999_999, size = 50)
locations_locatable_id = np.random.randint(low = 10_000_000_000, high = 99_999_999_999, size = 50)

In [26]:
# We can create multiple lists at the same time to save space/time
locations_locatable_type = []
locations_name = []
for _ in range(50):
    locations_locatable_type.append(fake.sentence())
    locations_name.append(fake.company())

In [27]:
# we can split an address into each of its elements
locations_address = []
locations_unit = []
locations_city = []
locations_state = []
locations_zip_code = []
for _ in range(50):
    street_address = fake.street_address()
    if "Suite" in street_address:
        unit = street_address.split("Suite")[-1]
    elif "Apt." in street_address:
        unit = street_address.split("Apt.")[-1]
    else:
        unit = ""
    
    locations_address.append(street_address)
    locations_unit.append(unit)
    locations_city.append("Los Angeles")
    locations_state.append("CA")
    locations_zip_code.append(fake.postalcode_in_state(state_abbr = "CA"))

In [28]:
locations_is_primary = np.random.randint(low = 0, high = 2, size = 50)

In [29]:
locations_lat = []
locations_long = []
for _ in range(50):
    locations_lat.append(fake.latitude())
    locations_long.append(fake.longitude())

In [30]:
locations_created_at = []
for _ in range(50):
    locations_created_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2019,1,1), datetime_end = dt.datetime(2021,3,1)))

In [31]:
# updated at must come after `created_at`
locations_updated_at = []
for date_created in locations_created_at:
    locations_updated_at.append(fake.date_time_between_dates(datetime_start = date_created, datetime_end = dt.datetime(2021,3,1)))

In [32]:
locations_show_on_organization = np.random.randint(low = 0, high = 2, size = 50)

In [33]:
locations_df = pd.DataFrame(data = {
    "id": locations_id,
    "locatable_id": locations_locatable_id,
    "locatable_type": locations_locatable_type,
    "name": locations_name,
    "address": locations_address,
    "unit": locations_unit,
    "city": locations_city,
    "state": locations_state,
    "zip_code": locations_zip_code,
    "is_primary": locations_is_primary,
    "lat": locations_lat,
    "long": locations_long,
    "created_at": locations_created_at,
    "updated_at": locations_updated_at,
    "show_on_organization": locations_show_on_organization,
})

locations_df.head()

,id,locatable_id,locatable_type,name,address,unit,city,state,zip_code,is_primary,lat,long,created_at,updated_at,show_on_organization
0,79925313121,84561980428,Letter choose eat do team board citizen.,"Miller, Barrera and Barry",954 Lawrence Isle Apt. 824,824,Los Angeles,CA,95200,0,-20.184508,23.868930,2020-02-17 08:31:41,2020-06-22 15:52:05,1
1,83581131939,85554648545,Ability chair artist ahead rich debate.,Arias-Lin,5873 Yates Common,,Los Angeles,CA,93851,0,7.592566,-86.551608,2020-11-17 14:54:56,2020-11-19 02:29:27,0
2,89550716420,23211403485,Recognize sound around house skill deal.,Morrison-Smith,9014 Smith Court Suite 895,895,Los Angeles,CA,96088,1,59.0467565,147.216884,2019-02-25 00:00:37,2021-01-18 02:26:04,1
3,26379870385,53820947108,Serious push necessary also.,Tucker Ltd,8159 Dennis Corner,,Los Angeles,CA,95798,1,67.3904965,-173.334306,2019-08-06 10:22:40,2020-11-30 00:28:17,0
4,48742907374,89990940955,Concern ask question.,Johnson-Foster,4399 Mills River Apt. 656,656,Los Angeles,CA,92760,1,3.6436545,-122.331016,2020-07-13 17:54:05,2020-10-29 23:02:25,1

***
## opportunities

* id INT(11)
* organization_id INT(11)
* title VARCHAR(255)
* description MEDIUMTEXT
* is_appointment TINYINT(1)
* created_at DATETIME
* updated_at DATETIME
* slug VARCHAR(255)
* searchable_by_organizations VARCHAR(255)
* is_searchable TINYINT(1)
* last_verified_at DATETIME
* marked_deleted TINYINT(1)
* deleter_id INT(11)
* region VARCHAR(255)

In [34]:
opportunities_id = np.random.randint(low = 0, high = 2, size = 50)
opportunities_organization_id = org_id

In [35]:
opportunities_title = []
opportunities_description = []
for _ in range(50):
    opportunities_title.append(fake.sentence())
    opportunities_description.append(fake.paragraph())

In [36]:
opportunities_is_appointment = np.random.randint(low = 0, high = 2, size = 50)

In [37]:
opportunities_created_at = []
for _ in range(50):
    opportunities_created_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2019,1,1), datetime_end = dt.datetime(2021,3,1)))

In [38]:
# updated at must come after `created_at`
opportunities_updated_at = []
for date_created in opportunities_created_at:
    opportunities_updated_at.append(fake.date_time_between_dates(datetime_start = date_created, datetime_end = dt.datetime(2021,3,1)))

In [39]:
opportunities_slug = [title.replace(" ", "_").replace(",", "").lower() for title in opportunities_title]

In [40]:
opportunities_searchable_by_organizations = []
for _ in range(50):
    opportunities_searchable_by_organizations.append(fake.paragraph())

In [41]:
opportunities_is_searchable = np.random.randint(low = 0, high = 2, size = 50)

In [42]:
# last verified - in the past year
opportunities_last_verified_at = []
for _ in range(50):
    opportunities_last_verified_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2020,3,1), datetime_end = dt.datetime(2021,3,1)))

In [43]:
opportunities_marked_deleted = np.random.randint(low = 0, high = 2, size = 50)

In [44]:
opportunities_deleter_id = np.random.randint(low = 10_000_000_000, high = 99_999_999_999, size = 50)

In [45]:
opportunities_region = ["Los Angeles"] * 50

***
## opportunities

* id INT(11)
* organization_id INT(11)
* title VARCHAR(255)
* description MEDIUMTEXT
* is_appointment TINYINT(1)
* created_at DATETIME
* updated_at DATETIME
* slug VARCHAR(255)
* searchable_by_organizations VARCHAR(255)
* is_searchable TINYINT(1)
* last_verified_at DATETIME
* marked_deleted TINYINT(1)
* deleter_id INT(11)
* region VARCHAR(255)

In [46]:
opportunities_df = pd.DataFrame(data = {
    "id": opportunities_id,
    "organization_id": opportunities_organization_id,
    "title": opportunities_title,
    "description": opportunities_description,
    "is_appointment": opportunities_is_appointment,
    "created_at": opportunities_created_at,
    "updated_at": opportunities_updated_at,
    "slug": opportunities_slug,
    "searchable_by_organizations": opportunities_searchable_by_organizations,
    "is_searchable": opportunities_is_searchable,
    "last_verified_at": opportunities_last_verified_at,
    "marked_deleted": opportunities_marked_deleted,
    "deleter_id": opportunities_deleter_id,
    "region": opportunities_region,
})

opportunities_df.head()

,id,organization_id,title,description,is_appointment,created_at,updated_at,slug,searchable_by_organizations,is_searchable,last_verified_at,marked_deleted,deleter_id,region
0,1,53509366883,Forget recently daughter short participant.,Responsibility defense each star. Administrati...,1,2019-04-03 01:48:44,2019-08-09 15:25:25,forget_recently_daughter_short_participant.,Tv ask attention police then low news. Amount ...,1,2020-04-01 19:42:56,1,29668588799,Los Angeles
1,0,87808048208,Probably future point clear else lay think.,Fund activity public present animal consider a...,1,2019-10-20 02:01:48,2020-06-30 23:09:34,probably_future_point_clear_else_lay_think.,Maintain almost bring certainly. Actually life...,1,2020-06-05 14:11:08,1,84957826795,Los Angeles
2,1,20680379154,Management develop as describe herself child.,Pretty very court anything magazine suffer any...,1,2021-02-09 05:25:40,2021-02-25 21:17:56,management_develop_as_describe_herself_child.,Turn experience bad letter that. From reality ...,0,2020-06-19 14:02:10,1,64336541338,Los Angeles
3,0,27389435792,Although nice month level role customer news.,Turn miss present financial consider worry add...,1,2019-04-26 08:09:34,2021-02-27 14:51:50,although_nice_month_level_role_customer_news.,Reality election able catch enter sign relate....,0,2021-01-25 15:03:38,1,64818841427,Los Angeles
4,1,80183172661,Fine look west discuss month bank skin.,Catch personal step room citizen.,0,2019-01-14 20:58:14,2019-02-15 14:58:19,fine_look_west_discuss_month_bank_skin.,Expert same course hope scene. Total various s...,0,2020-07-14 14:06:50,1,35651204565,Los Angeles

***
## access_events

This table comes from another database and therefore does not show up in the ODRS ERD.

* user_id INT(4)
* status INT(4)
* accessed_at DATETIME
* reviewed BOOL
* reviewed_at DATETIME
* created_at DATETIME
* updated_at DATETIME
* referred_organization_id INT(4)
* direct_access BOOL
* utilized_at DATETIME

In [47]:
access_events_user_id = np.random.randint(low = 1_000, high = 9_999, size = 50)
access_events_status = np.random.randint(low = 1_000, high = 9_999, size = 50)

In [48]:
access_events_accessed_at = []
for _ in range(50):
    access_events_accessed_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2020,1,1), datetime_end = dt.datetime(2021,1,1)))

In [49]:
access_events_reviewed = np.random.randint(low = 0, high = 2, size = 50)

In [50]:
access_events_created_at = []
for _ in range(50):
    access_events_created_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2019,1,1), datetime_end = dt.datetime(2021,3,1)))

In [51]:
# updated at must come after `created_at`
access_events_updated_at = []
for date_created in access_events_created_at:
    access_events_updated_at.append(fake.date_time_between_dates(datetime_start = date_created, datetime_end = dt.datetime(2021,3,1)))

In [52]:
# reviewed comes after updated and only if reviewed == 1
access_events_reviewed_at = []
for date_created in access_events_created_at:
    _idx = access_events_created_at.index(date_created)
    if access_events_reviewed[_idx] == 1:
        access_events_reviewed_at.append(fake.date_time_between_dates(datetime_start = date_created, datetime_end = dt.datetime(2021,3,1)))
    else:
        access_events_reviewed_at.append("")

In [53]:
access_events_referred_organization_id = np.random.randint(low = 1_000, high = 9_999, size = 50)
access_events_direct_access = np.random.randint(low = 0, high = 2, size = 50)

In [54]:
access_events_utilized_at = []
for _ in range(50):
    access_events_utilized_at.append(fake.date_time_between_dates(datetime_start = dt.datetime(2021,1,1), datetime_end = dt.datetime(2021,3,1)))

***
## access_events

This table comes from another database and therefore does not show up in the ODRS ERD.

* user_id INT(4)
* status INT(4)
* accessed_at DATETIME
* reviewed BOOL
* reviewed_at DATETIME
* created_at DATETIME
* updated_at DATETIME
* referred_organization_id INT(4)
* direct_access BOOL
* utilized_at DATETIME

In [55]:
access_events_df = pd.DataFrame(data = {
    "user_id": access_events_user_id,
    "status": access_events_status,
    "accessed_at": access_events_accessed_at,
    "reviewed": access_events_reviewed,
    "reviewed_at": access_events_reviewed_at,
    "created_at": access_events_created_at,
    "updated_at": access_events_updated_at,
    "referred_organization_id": access_events_referred_organization_id,
    "direct_access": access_events_direct_access,
    "utilized_at": access_events_utilized_at,
})

access_events_df.head()

,user_id,status,accessed_at,reviewed,reviewed_at,created_at,updated_at,referred_organization_id,direct_access,utilized_at
0,7501,1775,2020-02-06 23:12:33,1,2020-08-22 03:17:21,2020-06-14 16:22:33,2020-08-10 01:11:33,8468,1,2021-01-11 11:47:02
1,1850,3250,2020-01-09 10:25:33,0,NaT,2021-01-01 21:17:05,2021-02-16 20:54:25,7691,0,2021-01-31 19:56:33
2,3757,8198,2020-11-20 17:06:43,0,NaT,2019-12-16 22:00:13,2021-01-08 20:47:55,8145,0,2021-02-03 22:56:18
3,7662,7326,2020-01-27 03:27:03,1,2021-02-13 14:36:54,2021-02-08 18:04:33,2021-02-19 12:39:51,6449,0,2021-02-25 08:07:54
4,4911,2263,2020-02-12 22:28:15,0,NaT,2019-10-13 12:52:48,2019-11-20 13:35:08,6075,0,2021-01-25 12:02:47

***
## CSVs!

In [56]:
clients_df.to_csv("clients.csv", index = False, encoding = 'utf-8')
opportunities_df.to_csv("opportunities.csv", index = False, encoding = 'utf-8')
organizations_df.to_csv("organizations.csv", index = False, encoding = 'utf-8')
locations_df.to_csv("locations.csv", index = False, encoding = 'utf-8')
access_events_df.to_csv("access_events.csv", index = False, encoding = 'utf-8')